//AUDIO PLAYER
.button-player{
    background: #000;
    display: flex;
    gap: 16px;
        .playPause{
            color: red;
        }
        .muteunmute{
            color: yellow;
            color: rgb(54, 86, 6);
        }
}
