//AUDIO PLAYER
.button-player{
    display: flex;
    gap: 16px;
        .playPause{
            background-color: $color-black;
            color: $color-red;
            border: 1px solid red;
            padding: 10px;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);}
        }
        .muteunmute{
            background-color: $color-black;
            color: yellow;
            padding: 10px;
            cursor: pointer;
            border: 1px solid yellow;


            &:hover{
                transform: scale(1.1) ;
            }
        }
}
