.contact-form {
  @include column;

    max-width: 400px;
    margin: 0 auto;
    @include mb32;
  
    .form-group {
      
      @include mb16;
      @include flexColumn;

      
      label {
       @include mb16;
        color: $color-gitano;
        font-size: 20px;

      }
  
      .form-control {
        padding: 0.5rem;
        border: 1px solid #ccc;
        outline: none;
        transition: border-color 0.3s;
  
        &.valid {
          border-color: $color-gitano;
        }
  
        &.invalid {
          border-color: $color-red;
        }
      }
    }
  
    button {
      background-color: #007bff;
      color: $color-P;

      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: $button-color;
      }
    }
    textarea{
        height: 128px;
    }
  }
  