//FOOTER STYLE
.Footerlink{
    background-color: $bg-header-footer;
    text-align: center;
    .footer-Texte{
        color: $color-gitano-Hover;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        font-size: 20px;
        &:hover{
            color: $color-gitano;
        }
    
    }
}
