//FOOTER STYLE
.footer-Texte{
    background-color: $bg-header-footer;
    color: $color-gitano;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
    height: 100px;
    width: 100%;

    &:hover{
        color: $color-gitano-Hover;
        background-color: $bg-hover;
    }
}
