// Header
.Header {
    background-color: $bg-header-footer;
    color: $color-gitano;
    margin: auto;
    padding-right: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;

    &:hover {
        background-color: $bg-hover;
    }

    .App-logo {
        margin-right: auto;
        padding: 0 24px;
        width: 250px;
    }

   .menu-button{
    display: none;
   }

    nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 32px;
        font-size: 24px;
    }

    .App-header-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $color-gitano;
        text-decoration: none;

        &:hover {
            color: $color-gitano-Hover;
            text-decoration: overline;
        }
    }

    &.open {
        .Header-link {
            display: flex;
        }
    }

    @media (max-width: 950px) {
        .menu-button {
            color: aqua;
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
            margin-right: 16px;
            display: block;
    
            &:focus {
                outline: none;
            }
    
            &.open {
                display: none;
                /* Masquer le bouton hamburger lorsque le menu est ouvert */
            }
        }
        .Header-link {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding-top: 16px;

            &.open {
                display: flex;
            }

            .App-header-link {
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}



// // HEADER
// .Header{
//     background-color: $bg-header-footer;
//     color: $color-gitano;
//     margin: auto;
//     padding-right: 32px;
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//     margin-bottom: 60px;

//     &:hover{
//         background-color: $bg-hover;
//     }
//                 .App-logo{
//                     margin-right: auto;
//                     padding: 0 24px;
//                     width: 250px;
//                 }
//                 nav {
//                     display: flex;
//                     align-items: center;
//                     flex-wrap: wrap;
//                     justify-content: flex-end;
//                     gap: 32px;
//                     font-size: 24px;
//                     }
//         .App-header-link{
//             display: flex;
//             justify-content: space-around;
//             align-items: center;
//             color: $color-gitano;
//             text-decoration: none;

//         &:hover{
//                 color: $color-gitano-Hover;
//                 text-decoration:overline;

//             }
//         }
// }