// Header
.Header {
    background-color: $bg-header-footer;
    color: $color-gitano;
    margin: auto;
    padding-right: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;

    .App-logo {
        margin-right: auto;
        padding: 0 24px;
        width: 300px;
        height: 250px;
    }

    .menu-button {
        display: none;
    }

    .close-button {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 32px;
        font-size: 24px;
    }

    .App-header-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $color-gitano;
        text-decoration: none;

        &:hover {
            color: $color-gitano-Hover;
            text-decoration: overline;
        }
    }

    &.open {
        .Header-link {
            display: flex;
        }
    }

    @media (max-width: 850px) {
     
        .menu-button {
          color: $color-gitano;
            background: none;
            border: none;
            font-size: 40px;
            cursor: pointer;
            margin-right: 16px;
            display: block;
            
            &:focus {
                outline: none;
            }
            
            &.open {
                display: none;

            }
        }


    nav {
      
        font-size: 28px;
    }


        .close-button {
            background: none;
            border: none;
            font-size: 40px;
            cursor: pointer;
            display: none;
            color: $color-red;

            &:focus {
                outline: none;
            }

            &.open {
                display: block;
                position: absolute;
                top: 100px;
                right: 50px;
            
            }
        }
      
        .Header-link {

            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;           

            &.open {
                display: flex;
            }

            .App-header-link {
                margin-bottom: 16px;

                &:hover {
                    text-decoration: none;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}