//Home
.Home{

    @include mb16;
        .h1-HomePage{
            text-align: center;
            color:  $color-gitano-Hover;
            @include mb32;
            // font-size: 64px;
            @include test;

        }
        .P-HomePage{
            font-size: 24px;
            color: $color-P;
            padding-left: 16px;
            padding-right: 16px;
            width: 100%;
            text-align: left;

            .lienCapuchon{
                color: $color-gitano-Variante;
                font-weight: 600;
                cursor: pointer;
                text-decoration: none;
            }
        }

    }
    