
//Home
.Home{
    margin-bottom: 32px;
    
    .h1-HomePage{
        text-align: center;
        color:  $color-gitano-Hover;
        margin-bottom: 32px;
        font-size: 64px;
    }
    .P-HomePage{
            font-size: 22px;
            color: $color-P;
            text-align: center;
            padding-left: 16px;
            padding-right: 16px;
        }

    }
    