
//Home
.Home{
    margin-bottom: 128px;
    .h1-HomePage{
        text-align: center;
        color:  $color-gitano-Hover;
        margin-bottom: 32px;
        font-size: 64px;
    }
    .card{
        .Home-P{
            font-size: 22px;
            color: $color-black;
            text-align: center;
        }
    }

    }
    