//COCKTAILS COLLECTION
.Title-nosCocktails{
    text-align: center;
    margin-bottom: 64px;
    color: $color-gitano-Hover;
    font-size: 48px;

        }
.Cocktail-link-general{
    font-size: 48px;

    margin-bottom: 64px;
    .Cocktail-link{
        display: flex;
        justify-content: space-around;
        font-size: 24px;
        list-style: none;
        gap: 16px;
    }
    .Cocktails-choise{
        
        .App-Cocktail-link{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 32px;   
            color:  $color-gitano;
            text-decoration: none;
                    &:hover{
                            color: $color-gitano-Hover;
                        }
            }

        img{
            margin-top: 32px;
            height: 275px;
            width: 300px;
            }
    }


}




.cocktail-wa{
    color: $color-gitano-Hover;
    text-align: center;
    margin-bottom: 32px;
    font-size: 48px;

}

.list-cocktail{
    display: flex;
  justify-content: space-around;
  align-items: center;
    gap: 16px;
    padding: 0 24px;
    width: 100%;
    flex-wrap: wrap;

    .App-Recipe-Link{
        color: yellowgreen;
        text-decoration: none;
        &:hover{
            color: $color-gitano-Hover;
        }
    }

    img{
        height: 275px;
        width: 300px;
    }

}