//404
.Page-not-found{

    color: $color-gitano;
    text-align: center;
    h1{ 
    font-size: 250px;
        }
    p{
    font-size:48px;
    color: $color-gitano-Hover; 
        }
    margin-bottom: 32px;
}

