//SLIDER HOME

.slider-container {
    width: 100%;
    overflow: hidden;
    
    .slider {
        display: flex;
        //transition: transform 0.5s infinite ease-in-out;
        
        .slider-item {
            flex: 0 0 100%;
            width: 100%;
        }
        
        .App-Slider-link {
            text-decoration: none;
            //width: 100% auto;
            display: flex;
            overflow: hidden;
            
            .imgtestslider {
                width: 100%;
                height: 250px;
                object-fit: cover;
                object-position: center;
            }
        }
        
    }
}