$bg-body-color: rgb(255, 228, 196);
$bg-hover: hsl(0, 28%, 10%);
$bg-header-footer: hsl(0, 10%, 0%);
$color-gitano:rgb(27, 164, 27);
$color-gitano-Hover:hsl(39, 93%, 42%);
$color-black: hsl(0, 23%, 3%);

