$bg-body-color: rgb(9, 6, 6);
$bg-hover: hsl(0, 28%, 10%);
$bg-header-footer: hsl(0, 10%, 0%);
$color-gitano:rgb(66, 179, 18);
$color-gitano-Variante:rgb(50, 135, 14);

$color-gitano-Hover:rgb(232, 196, 14);
$color-black: hsl(0, 23%, 3%);
$color-P: whitesmoke;
$color-red: rgb(207, 23, 23);
$button-color: blue;


$testdegrade: linear-gradient(90deg, rgb(66, 179, 18) 0%, rgb(232, 196, 14) 50%, rgb(207, 23, 23) 100%);