@import "./variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:$bg-body-color;


}

//HEADER
.Header{
    background-color: $bg-header-footer;
    color: $color-gitano;
    margin: auto;
    padding-right: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 128px;
    &:hover{
        background-color: $bg-hover;
    }
                .App-logo{
                    margin-right: auto;
                    padding: 0 24px;
                    width: 250px;
                }
                nav {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    gap: 32px;
                    font-size: 24px;
                  }
        .App-header-link{
    display: flex;
    justify-content: space-around;
align-items: center;
            color: $color-gitano;

        &:hover{
                color: $color-gitano-Hover;
                font-style: oblique;

            }
        }
}
 

.Home{
margin-bottom: 128px;
}

//Home
.h1-HomePage{
    text-align: center;
    color:  $color-gitano-Hover;
    margin-bottom: 32px;
    font-size: 64px;

}
.card{
.Home-P{
    font-size: 22px;
    color: $color-black;
    text-align: center;
}
}


.Title-nosCocktails{
    text-align: center;
    margin-bottom: 32px;
        }
.Cocktail-link-general{
margin-bottom: 64px;
    .Cocktail-link{
        display: flex;
        justify-content: space-around;
        font-size: 24px;
        list-style: none;
        gap: 16px;
    }
    .Cocktails-choise{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
       
        .App-Cocktail-link{
            font-size: 32px;   
            color:  $color-gitano;
            text-decoration: none;
                    &:hover{
                            color: $color-gitano-Hover;
                            font-style: oblique;
                        }
            }

        img{
            height: 250px;
            }
    }


}




//404
.Page-not-found{
    color: $color-gitano;
    text-align: center;
    h1{ 
    font-size: 300px;
        }

    p{
    font-size:64px;
    color: $color-gitano-Hover; 
        }

}




.nav-CAA{
    display: flex;
    // flex-direction: column;
    gap: 16px;
    padding: 0 24px;
    width: 100%;
    flex-wrap: wrap;

}

//FOOTER STYLE
.footer-Texte{
    background-color: $bg-header-footer;
    color: $color-gitano;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
    height: 100px;
    width: 100%;

    &:hover{
        color: $color-gitano-Hover;
        background-color: $bg-hover;
    }
}



// COCKTAIL CARD
.This-Cocktail-Card{
            color: $color-gitano;
            line-height: 32px;
        h1{
           color: $color-black;
        }
        .Ingredients-et-Img {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        margin-bottom: 32px;
            img{
            height: 225px;
            max-width: 300px ;
        }
        .list-ingredients{
            display: flex;
            flex-direction: column;
        }

        ul{
            display: flex;
            flex-direction: column;
            list-style: circle;
            line-height: 33px;

        }
            li{
            color: $color-black;
            }
    }
        p{
            padding-left: 32px;
            padding-right: 32px; 
            display: flex;
            font-size: 20px;

        }
      .into-Cocktail-Selection{
    //   border: 2px solid crimson;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .App-Cocktail-link-TC{
        color:  $color-gitano-Hover;
        text-decoration: none;
                &:hover{
                        color: $color-gitano;
                        font-style: oblique;
                    }
        }

      }
        
}

@media (max-width: 850px) {
    body{
        background: $bg-hover;
    }


//HEADER
.Header{
    flex-wrap: nowrap;
    flex-direction: column;
     padding-right: 0;
    background-color: $bg-hover;
    margin-bottom: 32px;
    justify-content: space-around;
    nav{
        width: 100%;
    
    }
                 .App-logo{
               margin: auto;
               align-items: center;
                 }
        .App-header-link{
            color: $color-gitano;
            flex: 1;
        }
}





//Home
.Home{
    margin-bottom: 32px;
    }
.h1-HomePage{
    display: flex;
text-align: center;

}
.card{
   .Home-P{ color: $bg-body-color;
}}
.Title-nosCocktails{
  color: $color-gitano-Hover;
        }

.Cocktail-link-general{
    .Cocktail-link{
       flex-direction: column;
      
    }
    .Cocktails-choise{
        flex-direction: column-reverse;
       width: 100%;
            }

       
    }


// COCKTAIL CARD
.This-Cocktail-Card{
    color: $color-gitano;
    line-height: 32px;
h1{
   color: $color-gitano-Hover;
   margin-bottom: 16px;
}
.Ingredients-et-Img {
              flex-direction: column;
   
.list-ingredients{
    img{
        margin-bottom: 16px;
    }
 h2{
    text-align: center;
margin-bottom: 16px;
}
}

ul{
    display: flex;
    flex-direction: column;
    list-style: circle;
    line-height: 33px;

}
    li{
    color: $bg-body-color;
    }
}
p{
  margin-bottom: 16px;

}
.into-Cocktail-Selection{
border: 2px solid crimson;
display: flex;
justify-content: space-around;
align-items: center;

.App-Cocktail-link-TC{
color:  $color-gitano-Hover;
text-decoration: none;
        &:hover{
                color: $color-gitano;
                font-style: oblique;
            }
}

}

}


//FOOTER STYLE
.footer-Texte{
    background-color: $bg-hover;
    color: $color-gitano;
}


}