@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
.Header {
  background-color: hsl(0, 10%, 0%);
  color: rgb(66, 179, 18);
  margin: auto;
  padding-right: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.Header .App-logo {
  margin-right: auto;
  padding: 0 20px;
  width: 250px;
  height: 230px;
}
.Header .menu-button {
  display: none;
}
.Header .close-button {
  display: none;
}
.Header nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 32px;
  font-size: 24px;
}
.Header .App-header-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(66, 179, 18);
  text-decoration: none;
}
.Header .App-header-link .fa-envelope,
.Header .App-header-link .fa-martini-glass,
.Header .App-header-link .fa-house {
  display: none;
}
.Header .App-header-link:hover {
  color: rgb(232, 196, 14);
  text-decoration: overline;
  transform: scale(1.1);
}
.Header.open .Header-link {
  display: flex;
}
@media (max-width: 850px) {
  .Header .fa-envelope {
    color: rgb(66, 179, 18);
  }
  .Header .fa-martini-glass {
    color: rgb(232, 196, 14);
    padding-left: 16px;
  }
  .Header .fa-house {
    color: rgb(207, 23, 23);
  }
  .Header .menu-button {
    color: rgb(66, 179, 18);
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 16px;
    display: block;
  }
  .Header .menu-button:focus {
    outline: none;
  }
  .Header .menu-button.open {
    display: none;
  }
  .Header nav {
    font-size: 28px;
  }
  .Header nav .App-header-link {
    gap: 16px;
  }
  .Header nav .App-header-link:active {
    color: aqua;
  }
  .Header nav .App-header-link .fa-envelope,
  .Header nav .App-header-link .fa-martini-glass,
  .Header nav .App-header-link .fa-house {
    display: block;
  }
  .Header .radiolecteur {
    outline: 1px solid hsl(0, 28%, 10%);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 2px 0 2px 2px hsl(0, 28%, 10%);
  }
  .Header .radiolecteur h6 {
    color: rgb(232, 196, 14);
  }
  .Header .close-button {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: rgb(207, 23, 23);
  }
  .Header .close-button:focus {
    outline: none;
  }
  .Header .close-button.open {
    display: block;
    position: absolute;
    top: 100px;
    right: 50px;
  }
  .Header .Header-link {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .Header .Header-link.open {
    display: flex;
  }
  .Header .Header-link .App-header-link {
    margin-bottom: 16px;
  }
  .Header .Header-link .App-header-link:hover {
    text-decoration: none;
  }
}
@media (max-width: 320px) {
  .Header .App-logo {
    padding: 0 10px;
    width: 250px;
    height: 230px;
  }
  .Header .menu-button {
    font-size: 23px;
  }
}

.Home {
  margin-bottom: 32px;
}
.Home .h1-HomePage {
  text-align: center;
  color: rgb(232, 196, 14);
  margin-bottom: 32px;
  font-size: 64px;
}
.Home .P-HomePage {
  font-size: 24px;
  color: whitesmoke;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.Home .P-HomePage .lienCapuchon {
  color: rgb(50, 135, 14);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.button-player {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}
.button-player .playPause {
  background-color: hsl(0, 23%, 3%);
  color: rgb(207, 23, 23);
  font-size: 32px;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.button-player .playPause:hover {
  transform: scale(1.1);
}
.button-player .muteunmute {
  background-color: hsl(0, 23%, 3%);
  color: yellow;
  padding: 10px;
  cursor: pointer;
  border: 0;
  font-size: 32px;
  width: 50px;
  height: 50px;
}
.button-player .muteunmute:hover {
  transform: scale(1.1);
}

.slider-container {
  width: 100%;
  overflow: hidden;
}
.slider-container .slider {
  display: flex;
}
.slider-container .slider .slider-item {
  flex: 0 0 100%;
  width: 100%;
}
.slider-container .slider .App-Slider-link {
  text-decoration: none;
  display: flex;
  overflow: hidden;
}
.slider-container .slider .App-Slider-link .imgtestslider {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.contact-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.contact-form .form-group label {
  margin-bottom: 0.5rem;
  color: rgb(66, 179, 18);
  font-size: 20px;
}
.contact-form .form-group .form-control {
  padding: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}
.contact-form .form-group .form-control.valid {
  border-color: rgb(66, 179, 18);
}
.contact-form .form-group .form-control.invalid {
  border-color: rgb(207, 23, 23);
}
.contact-form button {
  background-color: #007bff;
  color: whitesmoke;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form button:hover {
  background-color: blue;
}
.contact-form textarea {
  height: 128px;
}

.Page-not-found {
  color: rgb(66, 179, 18);
  text-align: center;
  margin-bottom: 32px;
}
.Page-not-found h1 {
  font-size: 250px;
}
.Page-not-found p {
  font-size: 48px;
  color: rgb(232, 196, 14);
}

.Title-nosCocktails {
  text-align: center;
  margin-bottom: 64px;
  color: rgb(232, 196, 14);
  font-size: 48px;
}

.Cocktail-link-general {
  font-size: 48px;
  margin-bottom: 64px;
}
.Cocktail-link-general .Cocktail-link {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  list-style: none;
  gap: 16px;
}
.Cocktail-link-general .Cocktails-choise .App-Cocktail-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  color: rgb(66, 179, 18);
  text-decoration: none;
}
.Cocktail-link-general .Cocktails-choise .App-Cocktail-link:hover {
  color: rgb(232, 196, 14);
}
.Cocktail-link-general .Cocktails-choise img {
  margin-top: 32px;
  height: 275px;
  width: 300px;
}

.cocktail-wa {
  color: rgb(232, 196, 14);
  text-align: center;
  margin-bottom: 32px;
  font-size: 48px;
}

.list-cocktail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  padding: 0 24px;
  width: 100%;
  flex-wrap: wrap;
}
.list-cocktail .App-Recipe-Link {
  color: yellowgreen;
  text-decoration: none;
}
.list-cocktail .App-Recipe-Link:hover {
  color: rgb(232, 196, 14);
}
.list-cocktail img {
  height: 275px;
  width: 300px;
}

.This-Cocktail-Card {
  color: rgb(66, 179, 18);
  line-height: 32px;
}
.This-Cocktail-Card .Cocktail-name {
  text-align: center;
  color: rgb(232, 196, 14);
  margin-bottom: 32px;
}
.This-Cocktail-Card .Ingredients-et-Img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 32px;
}
.This-Cocktail-Card .Ingredients-et-Img img {
  height: 275px;
  width: 300px;
}
.This-Cocktail-Card .Ingredients-et-Img .list-ingredients {
  display: flex;
  flex-direction: column;
}
.This-Cocktail-Card .Ingredients-et-Img ul {
  display: flex;
  flex-direction: column;
  list-style: circle;
  line-height: 33px;
  padding-left: 32px;
  padding-right: 32px;
}
.This-Cocktail-Card .Ingredients-et-Img li {
  color: whitesmoke;
}
.This-Cocktail-Card p {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  font-size: 20px;
  margin-bottom: 32px;
}
.This-Cocktail-Card .into-Cocktail-Selection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC {
  color: rgb(232, 196, 14);
  text-decoration: none;
  margin-bottom: 32px;
}
.This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC:hover {
  color: rgb(66, 179, 18);
}

.CentrageTemporaire {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Footerlink {
  background-color: hsl(0, 10%, 0%);
  text-align: center;
}
.Footerlink .footer-Texte {
  color: rgb(232, 196, 14);
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 20px;
}
.Footerlink .footer-Texte:hover {
  color: rgb(66, 179, 18);
}
.Footerlink .Img-Footer-Rs {
  width: 50px;
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Playfair Display", serif;
}

body {
  background-color: rgb(9, 6, 6);
}

@media (max-width: 850px) {
  body {
    background: hsl(0, 23%, 3%);
  }
  .slider-container {
    display: none;
  }
  .contact-form {
    padding-left: 16px;
    padding-right: 16px;
  }
  .Home {
    margin-bottom: 32px;
  }
  .Title-nosCocktails {
    color: rgb(232, 196, 14);
  }
  .Cocktail-link-general .Cocktail-link {
    flex-direction: column;
  }
  .Cocktail-link-general .Cocktails-choise {
    flex-direction: column-reverse;
    width: 100%;
  }
  .This-Cocktail-Card {
    line-height: 32px;
    text-align: center;
  }
  .This-Cocktail-Card .Cocktail-name {
    color: rgb(232, 196, 14);
  }
  .This-Cocktail-Card .Ingredients-et-Img {
    flex-direction: column;
  }
  .This-Cocktail-Card .Ingredients-et-Img .list-ingredients img {
    margin-bottom: 16px;
  }
  .This-Cocktail-Card .Ingredients-et-Img .list-ingredients h2 {
    text-align: center;
    margin-bottom: 16px;
  }
  .This-Cocktail-Card .Ingredients-et-Img ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 33px;
    text-align: justify;
  }
  .This-Cocktail-Card p {
    margin-bottom: 16px;
    text-align: justify;
  }
  .This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC {
    color: rgb(232, 196, 14);
    text-decoration: none;
  }
  .This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC:hover {
    color: rgb(66, 179, 18);
  }
  .list-cocktail {
    flex-direction: column;
  }
  .list-cocktail img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 275px;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */