* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 228, 196);
}

.Header {
  background-color: hsl(0, 10%, 0%);
  color: rgb(27, 164, 27);
  margin: auto;
  padding-right: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 128px;
}
.Header:hover {
  background-color: hsl(0, 28%, 10%);
}
.Header .App-logo {
  margin-right: auto;
  padding: 0 24px;
  width: 250px;
}
.Header nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 32px;
  font-size: 24px;
}
.Header .App-header-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(27, 164, 27);
}
.Header .App-header-link:hover {
  color: hsl(39, 93%, 42%);
  font-style: oblique;
}

.h1-HomePage {
  text-align: center;
  color: hsl(39, 93%, 42%);
  margin-bottom: 32px;
  font-size: 64px;
}

.card .Home-P {
  font-size: 22px;
  color: hsl(0, 28%, 10%);
  text-align: center;
}

.Title-nosCocktails {
  text-align: center;
  margin-bottom: 32px;
}

.Cocktail-link-general {
  margin-bottom: 64px;
}
.Cocktail-link-general .Cocktail-link {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  list-style: none;
  gap: 16px;
}
.Cocktail-link-general .Cocktails-choise {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
.Cocktail-link-general .Cocktails-choise .App-Cocktail-link {
  font-size: 32px;
  color: rgb(27, 164, 27);
  text-decoration: none;
}
.Cocktail-link-general .Cocktails-choise .App-Cocktail-link:hover {
  color: hsl(39, 93%, 42%);
  font-style: oblique;
}
.Cocktail-link-general .Cocktails-choise img {
  height: 250px;
}

.Page-not-found {
  color: rgb(27, 164, 27);
  text-align: center;
}
.Page-not-found h1 {
  font-size: 300px;
}
.Page-not-found p {
  font-size: 64px;
  color: hsl(39, 93%, 42%);
}

.nav-CAA {
  display: flex;
  gap: 16px;
  padding: 0 24px;
  width: 100%;
  flex-wrap: wrap;
}

.footer-Texte {
  background-color: hsl(0, 10%, 0%);
  color: rgb(27, 164, 27);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}
.footer-Texte:hover {
  color: hsl(39, 93%, 42%);
  background-color: hsl(0, 28%, 10%);
}

.This-Cocktail-Card {
  color: rgb(27, 164, 27);
  line-height: 32px;
}
.This-Cocktail-Card h1 {
  color: hsl(0, 28%, 10%);
}
.This-Cocktail-Card .Ingredients-et-Img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 32px;
}
.This-Cocktail-Card .Ingredients-et-Img img {
  height: 225px;
  max-width: 300px;
}
.This-Cocktail-Card .Ingredients-et-Img .list-ingredients {
  display: flex;
  flex-direction: column;
}
.This-Cocktail-Card .Ingredients-et-Img ul {
  display: flex;
  flex-direction: column;
  list-style: circle;
  line-height: 33px;
}
.This-Cocktail-Card .Ingredients-et-Img li {
  color: hsl(0, 28%, 10%);
}
.This-Cocktail-Card p {
  padding-left: 32px;
  padding-right: 32px;
  color: crimson;
  display: flex;
  font-size: 20px;
}
.This-Cocktail-Card .into-Cocktail-Selection {
  border: 2px solid crimson;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC {
  color: rgb(27, 164, 27);
  text-decoration: none;
}
.This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC:hover {
  color: hsl(39, 93%, 42%);
  font-style: oblique;
}

@media (max-width: 850px) {
  body {
    background: hsl(0, 28%, 10%);
  }
  .Header {
    flex-wrap: nowrap;
    flex-direction: column;
    padding-right: 0;
    background-color: hsl(0, 28%, 10%);
    margin-bottom: 32px;
    justify-content: space-around;
  }
  .Header nav {
    width: 100%;
  }
  .Header .App-logo {
    margin: auto;
    align-items: center;
  }
  .Header .App-header-link {
    color: rgb(27, 164, 27);
    flex: 1;
  }
  .h1-HomePage {
    display: flex;
    text-align: center;
  }
  .card .Home-P {
    color: rgb(255, 228, 196);
  }
  .Title-nosCocktails {
    color: hsl(39, 93%, 42%);
  }
  .Cocktail-link-general .Cocktail-link {
    flex-direction: column;
  }
  .Cocktail-link-general .Cocktails-choise {
    flex-direction: column-reverse;
    width: 100%;
  }
  .This-Cocktail-Card {
    color: rgb(27, 164, 27);
    line-height: 32px;
  }
  .This-Cocktail-Card h1 {
    color: hsl(39, 93%, 42%);
    margin-bottom: 16px;
  }
  .This-Cocktail-Card .Ingredients-et-Img {
    flex-direction: column;
  }
  .This-Cocktail-Card .Ingredients-et-Img .list-ingredients img {
    margin-bottom: 16px;
  }
  .This-Cocktail-Card .Ingredients-et-Img .list-ingredients h2 {
    text-align: center;
    margin-bottom: 16px;
  }
  .This-Cocktail-Card .Ingredients-et-Img ul {
    display: flex;
    flex-direction: column;
    list-style: circle;
    line-height: 33px;
  }
  .This-Cocktail-Card .Ingredients-et-Img li {
    color: rgb(255, 228, 196);
  }
  .This-Cocktail-Card p {
    margin-bottom: 16px;
  }
  .This-Cocktail-Card .into-Cocktail-Selection {
    border: 2px solid crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC {
    color: rgb(27, 164, 27);
    text-decoration: none;
  }
  .This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC:hover {
    color: hsl(39, 93%, 42%);
    font-style: oblique;
  }
}/*# sourceMappingURL=styles.css.map */