@import "./variables";
@import "./Header";
@import "./Home";
@import "./AudioPlayer";
@import "./Slider";
@import "./Contact";
@import "./PageNotFound";
@import "./ListCocktails";
@import "./ThisCocktail";
@import "./Footer";
@import "./Global";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:$bg-body-color;
}


@media (max-width: 850px) {
    body{
        background: $bg-hover;
    }








    
    .slider-container{
        display: none;
    }

    .contact-form{
        padding-left: 16px;
        padding-right: 16px;

    }


// //HEADER
// .Header{
//     flex-wrap: nowrap;
//     flex-direction: column;
//     padding-right: 0;
//     background-color: $bg-hover;
//     margin-bottom: 32px;
//     justify-content: space-around;
//     nav{
//         width: 100%;
    
//     }
//                 .App-logo{
//                 margin: auto;
//                 align-items: center;
//                 }
//         .App-header-link{
//             color: $color-gitano;
//             flex: 1;
//             &:hover{
//                 text-decoration: none;
//             }
            
           
//         }
// }





//Home
.Home{
    margin-bottom: 32px;
    
    .card{
        .Home-P
        { color: $color-gitano;
        }
    }
}
.Title-nosCocktails{
  color: $color-gitano-Hover;
        }

.Cocktail-link-general{
    .Cocktail-link{
        flex-direction: column;

    }
    .Cocktails-choise{
        flex-direction: column-reverse;
        width: 100%;
            }

    }


// COCKTAIL CARD
.This-Cocktail-Card{
        color: $color-gitano;
        line-height: 32px;
        text-align: center;
        
    .Cocktail-name{
        color: $color-gitano-Hover;
    }
    .Ingredients-et-Img {
        flex-direction: column;
        .list-ingredients{
            img{
                margin-bottom: 16px;
            }
        h2{
            text-align: center;
        margin-bottom: 16px;
        }
        }

    ul{
        display: flex;
        flex-direction: column;
        list-style: circle;
        line-height: 33px;

    }
        li{
        color: $bg-body-color;
        }
    }
    p{
        margin-bottom: 16px;
    }
    .into-Cocktail-Selection{
            .App-Cocktail-link-TC{
            color:  $color-gitano-Hover;
            text-decoration: none;
                    &:hover{
                            color: $color-gitano;
                            font-style: oblique;
                        }
            }

    }

}


    
    .list-cocktail{
        flex-direction: column;

            img{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 275px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

}



//FOOTER STYLE
.Footerlink{
    .footer-Texte{
        
        color: $color-gitano-Hover;
    }
    
}

}