.Header {
  background-color: hsl(0, 10%, 0%);
  color: rgb(27, 164, 27);
  margin: auto;
  padding-right: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.Header:hover {
  background-color: hsl(0, 28%, 10%);
}
.Header .App-logo {
  margin-right: auto;
  padding: 0 24px;
  width: 250px;
}
.Header nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 32px;
  font-size: 24px;
}
.Header .App-header-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(27, 164, 27);
  text-decoration: none;
}
.Header .App-header-link:hover {
  color: hsl(39, 93%, 42%);
  text-decoration: overline;
}

.Home {
  margin-bottom: 128px;
}
.Home .h1-HomePage {
  text-align: center;
  color: hsl(39, 93%, 42%);
  margin-bottom: 32px;
  font-size: 64px;
}
.Home .card .Home-P {
  font-size: 22px;
  color: hsl(0, 28%, 10%);
  text-align: center;
}

.button-player {
  background: #000;
  display: flex;
  gap: 16px;
}
.button-player .playPause {
  color: red;
}
.button-player .muteunmute {
  color: yellow;
  color: rgb(54, 86, 6);
}

.slider-container {
  width: 100%;
  overflow: hidden;
}
.slider-container .slider {
  display: flex;
  transition: transform 0.5s infinite ease-in-out;
}
.slider-container .slider .slider-item {
  flex: 0 0 100%;
  width: 100%;
}
.slider-container .slider .App-Slider-link {
  text-decoration: none;
  width: 100% auto;
  display: flex;
  overflow: hidden;
}
.slider-container .slider .App-Slider-link .imgtestslider {
  width: 100%;
  height: 250px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.contact-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.contact-form .form-group label {
  margin-bottom: 0.5rem;
}
.contact-form .form-group .form-control {
  padding: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}
.contact-form .form-group .form-control.valid {
  border-color: green;
}
.contact-form .form-group .form-control.invalid {
  border-color: red;
}
.contact-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form button:hover {
  background-color: #0056b3;
}
.contact-form textarea {
  height: 128px;
}

.Page-not-found {
  color: rgb(27, 164, 27);
  text-align: center;
  margin-bottom: 32px;
}
.Page-not-found h1 {
  font-size: 250px;
}
.Page-not-found p {
  font-size: 48px;
  color: hsl(39, 93%, 42%);
}

.Title-nosCocktails {
  text-align: center;
  margin-bottom: 32px;
}

.Cocktail-link-general {
  margin-bottom: 64px;
}
.Cocktail-link-general .Cocktail-link {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  list-style: none;
  gap: 16px;
}
.Cocktail-link-general .Cocktails-choise {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
.Cocktail-link-general .Cocktails-choise .App-Cocktail-link {
  font-size: 32px;
  color: rgb(27, 164, 27);
  text-decoration: none;
}
.Cocktail-link-general .Cocktails-choise .App-Cocktail-link:hover {
  color: hsl(39, 93%, 42%);
  font-style: oblique;
}
.Cocktail-link-general .Cocktails-choise img {
  height: 275px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cocktail-wa {
  color: hsl(39, 93%, 42%);
  text-align: center;
  margin-bottom: 32px;
}

.list-cocktail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  padding: 0 24px;
  width: 100%;
  flex-wrap: wrap;
}
.list-cocktail img {
  height: 275px;
  width: 300px;
}

.This-Cocktail-Card {
  color: rgb(27, 164, 27);
  line-height: 32px;
}
.This-Cocktail-Card .Cocktail-name {
  text-align: center;
  color: hsl(0, 28%, 10%);
  margin-bottom: 32px;
}
.This-Cocktail-Card .Ingredients-et-Img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 32px;
}
.This-Cocktail-Card .Ingredients-et-Img img {
  height: 275px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.This-Cocktail-Card .Ingredients-et-Img .list-ingredients {
  display: flex;
  flex-direction: column;
}
.This-Cocktail-Card .Ingredients-et-Img ul {
  display: flex;
  flex-direction: column;
  list-style: circle;
  line-height: 33px;
}
.This-Cocktail-Card .Ingredients-et-Img li {
  color: hsl(0, 28%, 10%);
}
.This-Cocktail-Card p {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  font-size: 20px;
  margin-bottom: 32px;
}
.This-Cocktail-Card .into-Cocktail-Selection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC {
  color: hsl(39, 93%, 42%);
  text-decoration: none;
  margin-bottom: 32px;
}
.This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC:hover {
  color: rgb(27, 164, 27);
  font-style: oblique;
}

.CentrageTemporaire {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-Texte {
  background-color: hsl(0, 10%, 0%);
  color: rgb(27, 164, 27);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}
.footer-Texte:hover {
  color: hsl(39, 93%, 42%);
  background-color: hsl(0, 28%, 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 228, 196);
}

@media (max-width: 850px) {
  body {
    background: hsl(0, 28%, 10%);
  }
  .slider-container {
    display: none;
  }
  .contact-form {
    padding-left: 16px;
    padding-right: 16px;
  }
  .Header {
    flex-wrap: nowrap;
    flex-direction: column;
    padding-right: 0;
    background-color: hsl(0, 28%, 10%);
    margin-bottom: 32px;
    justify-content: space-around;
  }
  .Header nav {
    width: 100%;
  }
  .Header .App-logo {
    margin: auto;
    align-items: center;
  }
  .Header .App-header-link {
    color: rgb(27, 164, 27);
    flex: 1;
  }
  .Header .App-header-link:hover {
    text-decoration: none;
  }
  .Home {
    margin-bottom: 32px;
  }
  .Home .card .Home-P {
    color: rgb(27, 164, 27);
  }
  .Title-nosCocktails {
    color: hsl(39, 93%, 42%);
  }
  .Cocktail-link-general .Cocktail-link {
    flex-direction: column;
  }
  .Cocktail-link-general .Cocktails-choise {
    flex-direction: column-reverse;
    width: 100%;
  }
  .This-Cocktail-Card {
    color: rgb(27, 164, 27);
    line-height: 32px;
    text-align: center;
  }
  .This-Cocktail-Card .Cocktail-name {
    color: hsl(39, 93%, 42%);
  }
  .This-Cocktail-Card .Ingredients-et-Img {
    flex-direction: column;
  }
  .This-Cocktail-Card .Ingredients-et-Img .list-ingredients img {
    margin-bottom: 16px;
  }
  .This-Cocktail-Card .Ingredients-et-Img .list-ingredients h2 {
    text-align: center;
    margin-bottom: 16px;
  }
  .This-Cocktail-Card .Ingredients-et-Img ul {
    display: flex;
    flex-direction: column;
    list-style: circle;
    line-height: 33px;
  }
  .This-Cocktail-Card .Ingredients-et-Img li {
    color: rgb(255, 228, 196);
  }
  .This-Cocktail-Card p {
    margin-bottom: 16px;
  }
  .This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC {
    color: hsl(39, 93%, 42%);
    text-decoration: none;
  }
  .This-Cocktail-Card .into-Cocktail-Selection .App-Cocktail-link-TC:hover {
    color: rgb(27, 164, 27);
    font-style: oblique;
  }
  .footer-Texte {
    background-color: hsl(0, 28%, 10%);
    color: rgb(27, 164, 27);
  }
  .list-cocktail {
    flex-direction: column;
  }
  .list-cocktail img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 275px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}/*# sourceMappingURL=styles.css.map */