*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(186, 218, 85);
}
.Page-not-found{
   h1{ font-size: 300px;}
   p{
    font-size:64px;
   }
    color: red;
    text-align: center;
}

.footer-Texte{
    background-color: #000;
    color: yellowgreen;
    text-align: center;

}