*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;

}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    background: #000;
    color: greenyellow;
    padding-left: 16px;
    padding-right: 128px;
    &:hover{
        background-color: hsl(0, 28%, 10%);
     
    }
                .App-logo{
                    height: 250px;
                }
        nav{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
         list-style: none;
            gap: 16px;
        }
        .App-header-link{
            color: yellowgreen;

          &:hover{
                color: orange;
                font-style: oblique;

            }
        }
}
.nosCocktails{
   text-align: center;
     }
.Cocktail-link-general{


        nav{
            display: flex;
            justify-content: space-around;
            font-size: 24px;
            list-style: none;
            gap: 16px;
        }
        .App-Cocktail-link{
            color:  hsl(0, 28%, 10%);
            text-decoration: none;
      

          &:hover{
                color: hsl(39, 93%, 42%);
                font-style: oblique;

            }
        }

}


.h1-HomePage{
    text-align: center;
    color:  hsl(0, 28%, 10%);
    margin-bottom: 32px;

}


.Page-not-found{
   h1{ font-size: 300px;}
   p{
    font-size:64px;
   }
    color: red;
    text-align: center;
}

.footer-Texte{
    background-color: #000;
    color: yellowgreen;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0 auto;
    &:hover{
        color: orange;
        background-color: hsl(0, 28%, 10%);
    }
}

.testmegawrap{
    border: 2px solid crimson;
   padding-left: 64px;
   padding-right: 64px;
   margin-bottom: 32px;

.titlewrap{
    text-align: center;
    margin-bottom: 32px;
    .h1CocktailPattern{

        color: green;
        }}
                .testwrap{

                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                   margin-bottom: 32px;

                                .imgtest{
                                border: 2px solid crimson;
                                position: right;
                                height: 200px;
                                width: auto;
                            }
                }
                .into_Cocktail_Selection{
                    display: flex;
                      color: green;
                  }
}

.nav-CAA{
    display: flex;
flex-direction: column;
gap: 16px;
}


