*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(186, 218, 85);
}
.footer-Texte{
    background-color: #000;
    color: yellowgreen;
    text-align: center;

}